@model MvcRuler.Models.RulerMaterialViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Rulers" asp-action="Index" method="get">
    <select asp-for="RulerMaterial" asp-items="Model.Materials"> @* Added a search by Material feature here*@
        <option value="">All</option>
    </select>

    Title: <input type="text" asp-for="SearchString" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rulers[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rulers[0].Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rulers[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rulers[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rulers[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rulers[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rulers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)         @* Added the rating column here*@
            </td>
            

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
